@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#audio-player {
    /* border: 1px solid #989898; */
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    /* -webkit-box-shadow: 1px 1px 1px 0px #000000; */
    /* box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.1); */
    /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15); */
    /* box-shadow: 40px 40px 97px #cccccc, -40px -40px 97px #ffffff; */
    background: linear-gradient(145deg, #ffffff, #eeeeee8a);
    box-shadow: 40px 40px 97px #cccccc, -40px -40px 97px #ffffff;
}

#visualiser,
#controls {
    /* border-top: 1px solid #989898; */
}

.track {
    padding: 0.3rem;
    border-bottom: 1px solid #989898;
}

.track-title {
    font-size: 1.1rem;
}

.track-album {
    font-size: 0.8rem;
}

.active-track {
    color: #EC0404;
    transition: color 0.2s ease;
}

#canvas {
    width: 100%;
    height: 3.5rem;
}

#controls {
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr; */
}

#controls-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#controls-timeline {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

#track-position-slider {
    width: 99%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0.3rem;
    outline: 1px solid #989898;
    border-radius: 4px;
    z-index: 1;
}

#track-position-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  outline: 2px solid #EC0404;
  cursor: pointer;
  border-radius: 50%;
  z-index: 999;
}

#track-position-slider::before {
    content: '';
    display: block;
    height: 5px;
    /* width: 100%; */
    position: absolute;
    background: #e74c3c; /* Color for the active portion */
    border-radius: 5px;
    z-index: 1;
  }

#times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}

#track-back-btn,
#track-forward-btn {
    font-size: 1.5rem;
    color: #989898;
}

#track-play-btn {
    font-size: 2.7rem;
    color: #58b7ef;
}